<div class="container-fluid py-4">

    <!-- Action Bar -->
    <app-action-bar backLink="/su/surt02">
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="form.invalid || isSaving()">
            <mat-icon *ngIf="!isSaving()">save</mat-icon>
            {{ isSaving() ? 'Saving...' : 'Save Changes' }}
        </button>
    </app-action-bar>

    <div class="row justify-content-center">
        <div class="col-12">
            <app-card title="Menu Details">

    <div class="card-content">
        <div class="row justify-content-center">
            <div class="col-12">
                <form [formGroup]="form" (ngSubmit)="onSubmit()" class="d-flex flex-column gap-3 p-3">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <textbox label="Menu Code" formControlName="menuCode" placeholder="Ex. SURT01"></textbox>
                        </div>

                        <div class="col-md-6">
                            <textbox label="Menu Name" formControlName="menuName" placeholder="Ex. Profile Setup"></textbox>
                        </div>

                        <div class="col-md-6">
                            <select-input label="Parent Menu"
                                          formControlName="parentMenuId"
                                          [options]="parentMenus"
                                          valueField="menuId"
                                          labelField="menuName"
                                          placeholder="-- None (Root) --">
                            </select-input>
                        </div>

                        <div class="col-md-6">
                            <number label="Sequence" formControlName="sequence"></number>
                        </div>

                        <div class="col-md-6">
                            <textbox label="Route" formControlName="route" placeholder="Ex. /su/surt01"></textbox>
                        </div>

                        <div class="col-md-6">
                            <textbox label="Icon (Bootstrap Icons)" formControlName="icon" placeholder="Ex. bi bi-person"></textbox>
                        </div>

                        <div class="col-12">
                            <mat-checkbox formControlName="isActive" color="primary">Active</mat-checkbox>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</app-card>
        </div>
    </div>
</div>